/* This specifies the general characteristics of My Homepage HTML page.*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: gray;
    font-style: normal;
    font-weight: normal;
    background-color: black;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}


/*This indents all paragraphs by 20px to the right*/

p {
    text-indent: 20px;
}


/*This talks about the mainheader*/

header.mainheader {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 75px;
}


/*hello' div and p.*/

div.hello {
    display: inline;
    height: 30px;
    width: fit-content;
    text-align: center;
    vertical-align: middle;
}

p.hello {
    font-size: 35px;
    animation-name: hello;
    -webkit-animation-name: hello;
    -o-animation-name: hello;
    -moz-animation-name: hello;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    transform-origin: center;
    filter: brightness(300%);
}

@keyframes hello {
    0% {
        transform: rotateZ(-90deg);
        color: green;
    }
    25% {
        transform: rotateZ(30deg);
        color: red;
    }
    50% {
        transform: rotateZ(-90deg);
        color: grey;
    }
    75% {
        transform: rotateZ(-210deg);
        color: blue;
    }
    100% {
        transform: rotateZ(-90deg);
        color: green;
    }
}


/*div containing h1 in the header element.*/

div.myhomepage {
    text-align: left;
}


/*This talks about specific headers in the HTML document.*/

h1.myhomepage {
    font-size: 50px;
    display: block;
    padding: 10px;
}

h1,
h2 {
    text-shadow: 2px 1px 1px mintcream;
    text-transform: uppercase;
}

.myhomepage {
    transition: 0.5s;
}

.myhomepage:hover {
    color: darkslategray;
}

.myhomepages {
    transition: 0.5s;
}

.myhomepages:hover {
    color: darkslategray;
}

.talkabout {
    transition: 0.5s;
}

.talkabout:hover {
    color: darkslategrey;
}


/*Table1 div*/

div.table1-aside1 {
    text-align: center;
    display: flex;
    /*This is the parent element or the container*/
    flex-flow: row wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: 5px;
    justify-content: space-around;
}


/*We are setting the flex-basis of each of the child element or items to the full or normal specified size.*/

div.table1-aside1>* {
    flex: 1 100%;
}


/*This specifies the flex-direction as column for screen sizes less than 800px across, whilst still keeping the flex-wrap as well, just wrap (^-^)*/

@media screen and (max-width: 800px) {
    div.table1-aside1 {
        flex-flow: column wrap;
    }
}


/*This specifies the characteristics of the table and it's caption.*/

caption.table1 {
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration-thickness: 4px;
    text-underline-offset: 0.1em;
}

caption.table1:hover {
    color: lightpink;
    font-weight: bold;
}

table.table1 {
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    max-width: 70%;
    max-height: fit-content;
    box-sizing: content-box;
    order: 1;
}


/*This deals with some extra stylings for the table when hovered against*/

.type {
    transition: all 0.5s;
}

.type:hover {
    color: purple;
}


/*This specifies the characteristics of the table 1 head.*/

thead.table1head {
    color: silver;
    background-color: rgba(112, 128, 114, 0.5);
    font-variant: small-caps;
    text-decoration: underline;
}


/*Drop-box for Star type descriptive images*/

.dropdown1 {
    display: inline-block;
    position: relative;
    width: inherit;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    background-color: aqua;
    padding: 5px;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
    left: 0%;
    top: 100%;
}

p.content {
    color: gray;
    width: 300px;
    height: fit-content;
}

.dropdown-content1:hover {
    box-shadow: 8px 8px 5px 3px saddlebrown, inset 8px 8px 8px 1px salmon;
}

.dropdown2 {
    display: inline-block;
    position: relative;
    width: inherit;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    z-index: 1;
    width: fit-content;
    height: fit-content;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
    left: 100%;
    top: 0%;
}

img.descriptiveimage {
    image-rendering: auto;
    width: 500px;
    height: auto;
    display: inline;
}

img.descriptiveimage:hover {
    left: auto;
    width: 800px;
    height: auto;
}

div.descriptiveimage {
    position: relative;
    top: -20px;
    display: inline;
    height: fit-content;
    width: auto;
}

p.descriptiveimage {
    padding: 5px;
    color: gray;
    background-color: aqua;
    font-size: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*These specify the characteristics of the table 1 rows.*/

tbody tr.table1tr1 {
    color: snow;
    background-color: rgba(216, 191, 216, 0.5);
    transition: all 0.5s;
}

tbody tr.table1tr2 {
    color: tomato;
    background-color: rgba(240, 255, 255, 0.5);
}

tbody tr.table1tr3 {
    color: rosybrown;
    background-color: rgba(255, 250, 240, 0.5);
}

tbody tr.table1tr4 {
    color: peru;
    background-color: rgba(0, 128, 128, 0.5);
}


/*This specifies the characteristics of the table 1 footer.*/

tfoot td.table1footer {
    font-family: cursive;
    background-color: rgba(255, 239, 213, 0.5);
    color: purple;
    font-size: small;
    font-style: italic;
    letter-spacing: 1.5px;
    transition: 0.5s;
}

tfoot td.table1footer:hover {
    color: khaki;
    background-color: rgba(127, 255, 0, 0.5);
}

h3.talkabout {
    text-transform: uppercase;
}

h4.talkabout {
    text-transform: capitalize;
    word-spacing: 9px;
}


/*Styling of table1's aside1*/

aside.aside1 {
    max-width: 25%;
    max-height: fit-content;
    text-align: center;
    order: 2;
    transition: 1s;
}

aside.aside1:hover {
    color: darkslategrey
}

div.sidebar {
    width: inherit;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

div.navigation {
    width: inherit;
    display: none;
    position: absolute;
    z-index: 1;
    color: violet;
    padding-left: 25%;
}

div.sidebar:hover div.navigation {
    display: block;
}

table.navigation {
    display: inline-block;
    background-color: burlywood;
    border: 2px solid salmon;
}

table.navigation:hover {
    outline-color: 666;
    outline-style: outset;
    outline-width: 8px;
}

table tr.navigation {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

table tr.navigation>* {
    transition: all 1s;
}

table tr td.navigation1:hover {
    background-color: bisque;
}

table tr td.navigation2:hover {
    background-color: peru;
}

table tr td.navigation3:hover {
    background-color: darkorange
}


/*This deals with the styling of some extras*/

a.sidebar:link {
    text-decoration: none;
    color: violet;
}

a.siderbar:visited {
    color: green;
    text-decoration: underline solid green;
}

a.sidebar:hover {
    color: brown;
    text-decoration: underline solid brown;
}

a.sidebar:active {
    cursor: progress;
}

section.section1 {
    padding-top: 5px;
    display: block;
    max-width: 70%;
    max-height: fit-content;
    box-sizing: content-box;
}

section h4.s2h4 {
    box-sizing: border-box;
    color: fuchsia;
    text-shadow: rgb(5, 254, 221) -1px -2px 0.7em;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    border-style: hidden;
    border-width: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: aquamarine;
    transition: all 0.5s;
}

section h4.s2h4:hover {
    background-color: beige;
}

section p.s2p1 {
    font-size: smaller;
    color: gold;
    letter-spacing: 1.5px;
    transition: 0.5s;
}

section p.s2p1:hover {
    color: goldenrod;
}

section p span.spannote {
    font-size: small;
    color: darkgray;
    font-weight: bolder;
    text-decoration: underline;
    letter-spacing: 2.5px;
    transition: 0.5s;
}

section p span.spannote:hover {
    font-style: italic;
}

div.div1 p.diagram1 {
    transition: all 3s;
}

div.div1:hover p.diagram1 {
    color: khaki;
}

p.diagram1 {
    position: absolute;
    right: 50%;
    border: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    color: cadetblue;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
}

ul.firstlist {
    padding-top: 20px;
    list-style: square outside none;
}

div.overall {
    text-align: center;
    display: block;
    background-color: antiquewhite;
    max-width: 100%;
    max-height: fit-content;
}

div.div1 {
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: column nowrap;
    color: plum;
    width: fit-content;
    height: fit-content;
    border-style: hidden;
    border-width: 0px;
    border-color: none;
    padding: 340px 2px 5px 2px;
    margin: 10px 2px 0px 2px;
    background-color: white;
    background-image: url("./Quantum gravity.png");
    background-position: 50% 0%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    transition: all 3s;
}

div.div1:hover {
    background-color: orangered;
    color: lightgoldenrodyellow;
}

div.div2 {
    display: block;
    color: gray;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-style: hidden;
    border-width: 0px;
    border-color: none;
    padding: 5px 2px 5px 2px;
    margin: 0px 2px 20px 2px;
    transition: all 3s;
}

div.div2:hover {
    background-color: darkslategrey;
    color: lightskyblue;
}

h2.diagramdefinition1 {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    text-underline-offset: 0.1em;
}

ul.secondlist {
    list-style-type: upper-roman;
    list-style-position: outside;
    list-style-image: none;
}

span.span1 {
    font-variant: small-caps;
}

ol.ol1 {
    list-style: lower-alpha outside none;
}

div.div2 p.note1 {
    text-indent: none;
    text-align: center;
    font-weight: bolder;
    font-size: medium;
    font-style: italic;
    font-stretch: expanded;
    color: brown;
    transition: 2s;
}

div.div2:hover p.note1 {
    color: chocolate;
}


/*This deals with some stylings in the footer element.*/

textarea.user {
    background-color: mediumaquamarine;
    color: maroon;
    font-family: sans-serif;
    transition: color 1s;
    user-select: all;
}

textarea.user:hover {
    color: black;
    background-color: bisque;
}


/*CSS code section containing styling for Button 1*/

div.button1 {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 70%;
    max-height: fit-content;
    display: block;
    text-align: center;
}

button.button1 {
    display: inline-block;
    background-color: indianred;
    transition: all 0.5s;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: fit-content;
    border: 10px solid rgba( 255, 127, 80, 0.4);
    background-clip: padding-box;
    padding: 20px;
    margin: 3px;
    opacity: 0.7;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button.button1:hover {
    background-color: indianred;
    opacity: 1;
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}

button.button1:active {
    background-color: #25AF3E;
}

button.button1 span.button1 {
    position: relative;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
}

span::after {
    content: '\00bb';
    color: aqua;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5;
}

button.button1:hover {
    opacity: 1;
}

button.button1:hover span.button1 {
    padding-right: 30px;
}

button.button1:hover span::after {
    opacity: 1;
    right: 0;
}

a.button1:link {
    color: aqua!important;
    text-decoration: none;
}

a.button1:visited {
    text-decoration-line: underline;
    text-decoration-color: brown;
    color: blanchedalmond;
}

a.button1:hover {
    color: darkblue;
}

a.button1:active {
    color: coral;
    cursor: progress;
}


/*This deals with the styling of My Homepage.css link.*/

a.mylink {
    transition: all 0.5s;
    color: goldenrod!important;
    text-decoration-line: none;
    text-underline-offset: 0.1em;
}

a.mylink:visited {
    text-decoration-line: underline;
    text-decoration-color: brown;
    color: blanchedalmond;
}

a.mylink:hover {
    color: cyan;
    text-decoration-line: underline;
    text-decoration-color: saddlebrown;
    font-style: italic;
}

a.mylink:active {
    background-color: coral;
    border-radius: 3px;
    cursor: progress;
}


/*This specifies some styling for the submit button with the class selector 'submit1'.*/

.submit1 {
    background-color: mediumaquamarine;
    color: grey;
    cursor: pointer;
    transition: all 1s;
}

.submit1:hover {
    background-color: blanchedalmond;
    color: violet;
}